<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">
        <!-- Logo icon --><b>
          <img src="assets/images/Dashboard/login_img.png" width="40" alt="homepage" class="dark-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
          <span style="font-weight: bold;"> Cosmic Go</span>
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i
              class="ti-menu"></i></a> </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i
              class="ti-search"></i></a>
          <form class="app-search">
            <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
          </form>
        </li>
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><img src="assets/images/Dashboard/login_img.png" alt="user" class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated fadeIn">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img"><img src="assets/images/Dashboard/login_img.png" alt="user"></div>
                    <div class="u-text">
                      <h4>Cosmic Go</h4>
                      <p class="text-muted">varun@gmail.com</p>
                      <a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View
                        Profile</a>
                    </div>
                  </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" [routerLink]="['']"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
      </ul>
    </div>
  </nav>
</header>