<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../assets/images/login/banner_login.jpg);">
        <img src="../../assets/images/login/login_img.png" width="100" alt="">
      </div>

      <form class="login100-form validate-form">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" name="username" placeholder="Enter username">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" name="pass" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn" style="padding-top: 10%">
          <!-- <button class="login100-form-btn">
            Login
          </button> -->
          <a [routerLink]="['/dashboard']"><button class="btn-login login100-form-btn">Login</button></a>
        </div>
      </form>
    </div>
  </div>
</div>