/* .logo {
    background-color: grey;
    -webkit-mask: url('../../../assets/svg/icon_scooter.svg') no-repeat center;
    mask: url('../../../assets/svg/icon_scooter.svg') no-repeat center;
    width: 25px !important;
} */
/* path{
    fill: blue;
} */